
@media screen and (min-width: 412px) {
 .carousel-caption{bottom: 5rem;} 
  .text-left h1{font-size:22px}	
}

@media screen and (min-width: 375px) {
 .carousel-caption{bottom: 3rem;} 
  .text-left h1{font-size:22px}	
}


