*{margin:0px; padding:0px}
html {scroll-behavior: smooth;}
a{text-decoration:none; } 
a:hover{text-decoration:none; } 
body{width:100%; height:auto; overflow-x:hidden; font-family:Arial,Helvetica,sans-serif; background: #fff }
@font-face {
    font-family: 'Gotham_Medium';
    src: url('../fonts/Gotham-Medium.eot');
    src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Medium.woff2') format('woff2'),
        url('../fonts/Gotham-Medium.woff') format('woff'),
        url('../fonts/Gotham-Medium.ttf') format('truetype'),
        url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham_Bold';
    src: url('../fonts/Gotham-Bold.eot');
    src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/Gotham-Bold.woff') format('woff'),
        url('../fonts/Gotham-Bold.ttf') format('truetype'),
        url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham_LightItalic';
    src: url('../fonts/Gotham-LightItalic.eot');
    src: url('../fonts/Gotham-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-LightItalic.woff2') format('woff2'),
        url('../fonts/Gotham-LightItalic.woff') format('woff'),
        url('../fonts/Gotham-LightItalic.ttf') format('truetype'),
        url('../fonts/Gotham-LightItalic.svg#Gotham-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham_Bold_1';
    src: url('../fonts/Gotham-Bold_1.eot');
    src: url('../fonts/Gotham-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Bold_1.woff2') format('woff2'),
        url('../fonts/Gotham-Bold_1.woff') format('woff'),
        url('../fonts/Gotham-Bold_1.ttf') format('truetype'),
        url('../fonts/Gotham-Bold_1.svg#Gotham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham_Medium_1';
    src: url('../fonts/Gotham-Medium_1.eot');
    src: url('../fonts/Gotham-Medium_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Medium_1.woff2') format('woff2'),
        url('../fonts/Gotham-Medium_1.woff') format('woff'),
        url('../fonts/Gotham-Medium_1.ttf') format('truetype'),
        url('../fonts/Gotham-Medium_1.svg#Gotham-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham_BookItalic';
    src: url('../fonts/Gotham-BookItalic.eot');
    src: url('../fonts/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-BookItalic.woff2') format('woff2'),
        url('../fonts/Gotham-BookItalic.woff') format('woff'),
        url('../fonts/Gotham-BookItalic.ttf') format('truetype'),
        url('../fonts/Gotham-BookItalic.svg#Gotham-BookItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham_XLight';
    src: url('../fonts/Gotham-XLight.eot');
    src: url('../fonts/Gotham-XLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-XLight.woff2') format('woff2'),
        url('../fonts/Gotham-XLight.woff') format('woff'),
        url('../fonts/Gotham-XLight.ttf') format('truetype'),
        url('../fonts/Gotham-XLight.svg#Gotham-XLight') format('svg');

    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham_Light';
    src: url('../fonts/Gotham-Light.eot');
    src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Light.woff2') format('woff2'),
        url('../fonts/Gotham-Light.woff') format('woff'),
        url('../fonts/Gotham-Light.ttf') format('truetype'),
        url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham_Thin';
    src: url('../fonts/Gotham-Thin.eot');
    src: url('../fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Thin.woff2') format('woff2'),
        url('../fonts/Gotham-Thin.woff') format('woff'),
        url('../fonts/Gotham-Thin.ttf') format('truetype'),
        url('../fonts/Gotham-Thin.svg#Gotham-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham_BoldItalic';
    src: url('../fonts/Gotham-BoldItalic.eot');
    src: url('../fonts/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-BoldItalic.woff2') format('woff2'),
        url('../fonts/Gotham-BoldItalic.woff') format('woff'),
        url('../fonts/Gotham-BoldItalic.ttf') format('truetype'),
        url('../fonts/Gotham-BoldItalic.svg#Gotham-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham_MediumItalic';
    src: url('../fonts/Gotham-MediumItalic.eot');
    src: url('../fonts/Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-MediumItalic.woff2') format('woff2'),
        url('../fonts/Gotham-MediumItalic.woff') format('woff'),
        url('../fonts/Gotham-MediumItalic.ttf') format('truetype'),
        url('../fonts/Gotham-MediumItalic.svg#Gotham-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham_Light_1';
    src: url('../fonts/Gotham-Light_1.eot');
    src: url('../fonts/Gotham-Light_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Light_1.woff2') format('woff2'),
        url('../fonts/Gotham-Light_1.woff') format('woff'),
        url('../fonts/Gotham-Light_1.ttf') format('truetype'),
        url('../fonts/Gotham-Light_1.svg#Gotham-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham_ThinItalic';
    src: url('../fonts/Gotham-ThinItalic.eot');
    src: url('../fonts/Gotham-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-ThinItalic.woff2') format('woff2'),
        url('../fonts/Gotham-ThinItalic.woff') format('woff'),
        url('../fonts/Gotham-ThinItalic.ttf') format('truetype'),
        url('../fonts/Gotham-ThinItalic.svg#Gotham-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham_Book';
    src: url('../fonts/Gotham-Book.eot');
    src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Book.woff2') format('woff2'),
        url('../fonts/Gotham-Book.woff') format('woff'),
        url('../fonts/Gotham-Book.ttf') format('truetype'),
        url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham_XLightItalic';
    src: url('../fonts/Gotham-XLightItalic.eot');
    src: url('../fonts/Gotham-XLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-XLightItalic.woff2') format('woff2'),
        url('../fonts/Gotham-XLightItalic.woff') format('woff'),
        url('../fonts/Gotham-XLightItalic.ttf') format('truetype'),
        url('../fonts/Gotham-XLightItalic.svg#Gotham-XLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham_Black';
    src: url('../fonts/Gotham-Black.eot');
    src: url('../fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Black.woff2') format('woff2'),
        url('../fonts/Gotham-Black.woff') format('woff'),
        url('../fonts/Gotham-Black.ttf') format('truetype'),

        url('../fonts/Gotham-Black.svg#Gotham-Black') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham_UltraItalic';
    src: url('../fonts/Gotham-UltraItalic.eot');
    src: url('../fonts/Gotham-UltraItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-UltraItalic.woff2') format('woff2'),
        url('../fonts/Gotham-UltraItalic.woff') format('woff'),
        url('../fonts/Gotham-UltraItalic.ttf') format('truetype'),
        url('../fonts/Gotham-UltraItalic.svg#Gotham-UltraItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham_BookItalic';
    src: url('../fonts/Gotham-BookItalic_1.eot');
    src: url('../fonts/Gotham-BookItalic_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-BookItalic_1.woff2') format('woff2'),
        url('../fonts/Gotham-BookItalic_1.woff') format('woff'),
        url('../fonts/Gotham-BookItalic_1.ttf') format('truetype'),
        url('../fonts/Gotham-BookItalic_1.svg#Gotham-BookItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
.bg-dark{background-color:#f5f8fe !important}
.text-left h1{font-family: 'Gotham_Bold';}
.text-left p{font-family: 'Gotham_Book';}
.navbar-dark .navbar-nav .nav-link{color:#07245f; font-weight: bold; margin: 0px 7px; font-family: 'Gotham_Bold';}
.navbar-nav li:last-child .nav-link{color:#fff; background: #062156; border-radius: 8px}
.navbar-nav li:last-child .nav-link:hover{transition: 0.5s; background: #3775f1; color:#fff}
.navbar-dark .navbar-nav .nav-link:focus{color:#3775f1;}
.navbar-dark .navbar-nav .nav-link:hover{color:#3775f1; transition: 0.5s}
.carousel-caption{background-color:#cccccc7d; padding: 15px 15px 0px 15px; border-radius:10px; text-align: center !important; color:#07245f}
.btn-primary{color:#fff; background: #062156; border-radius: 8px; border:1px solid #062156; font-family: 'Gotham_Bold';}
.btn-primary:hover{transition: 0.5s; background: #3775f1; color:#fff; border:1px solid #3775f1}
.btn-secondary{color:#fff; background: #062156; border-radius: 8px; border:1px solid #062156}
.btn-secondary:hover{transition: 0.5s; background: #3775f1; color:#fff; border:1px solid #3775f1}
.carousel-control-next-icon{background-image: url("../img/next.png") !important; height: 30px}
.carousel-control-prev-icon{background-image: url("../img/prev.png") !important; height: 30px}
.carousel-indicators li{background-color: #07245f}
.carousel-indicators .active{background-color: #3775f1}
.marketing h1{color:#07245f; text-align: center; font-weight: bold; text-transform: capitalize; margin: 20px 0px; margin-bottom: 40px; font-family: 'Gotham_Bold';}
.marketing h2{font-family: 'Gotham_Bold'; font-size:24px}
.marketing p{font-family: 'Gotham_Book';}
.rounded-circle{width:25%; height: auto; border-radius: 0px !important; padding: 12px}
.back{background:#f5f8fe; border-radius: 25px; margin-bottom: 50px; text-align: center; padding: 20px; box-shadow: 0px 0px 20px -5px #000}
.card-header{background:#f5f8fe}
.card-header h4{font-family: 'Gotham_Bold'; font-size:18px}
h1.card-title{margin-bottom:30px}
ul.list-unstyled li{text-align:left; font-family: 'Gotham_Book';}
.footerbg{width:100%; height: auto; float: left; background: #f5f8fe; font-family: 'Gotham_Book';}
.text-muted{font-family: 'Gotham_Book';}
.footerbg h5{font-family: 'Gotham_Bold'; padding-bottom: 20px}
ul.list-unstyled li img{width:10%; height: auto; margin-right: 10px}
.disclaimer{width:100%; height: auto; float: left; padding: 45px 0px}
.disclaimer h1{color:#07245f; text-align: center; font-weight: bold; text-transform: capitalize; padding-bottom: 20px; font-family: 'Gotham_Bold'; padding-top: 20px}
.disclaimer p{font-family: 'Gotham_Book';}
.disclaimer ul{float:left; padding-left: 14px}
.disclaimer ul li{float:left; font-family: 'Gotham_Book'; margin-bottom: 15px}
.navbar-dark .navbar-toggler-icon{background-image: url("../img/menu.png")}
.carousel-caption {bottom: 10rem !important; z-index: 10;}


